<div class="container">
  <div clsas="row">

    <div class="col-md-offset-3 col-md-5">
      <h1>{{ card.cupper.name }}'s cup card</h1>

      <div class="well">

        <cups-cupper
          identity="card.cupper">
        </cups-cupper>
        {{ card.cupper.drunkenCups }}

        <button
          ng-if="card.cupper.getsAFreeCup === false"
          ng-click="card.stamp()" class="btn btn-primary btn-material-brown align-to-list-group-content">
          Stamp
        </button>

        <button
          ng-if="card.cupper.getsAFreeCup"
          ng-click="card.spendAFreeCup()" class="btn btn-success align-to-list-group-content">
          Spend a free cup
        </button>

      </div>
    </div>
  </div>
</div>
