.error-messages.ng-active {
  background:#9E3D34;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  margin-bottom:10px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent #9E3D34;
  border-width:5px;
}
