<div class="container-fluid">
  <div class="row">

    <div class="col-md-offset-4 col-md-4">
			<h1 class="return">
        <a
          href="#/"
          class="btn btn-default btn-fab
                 btn-raised mdi-navigation-arrow-back"></a>
      </h1>

      <h1>Welcome a new cupper</h1>

      <div class="well">

        <form novalidate name="form">

          <div class="list-group">
            <div class="list-group-item">
              <div class="row-picture">
                <img class="circle" src="styles/img/cups-dummy.jpg" alt="icon">
              </div>
              <div class="row-content">


                <div class="form-group">
                  <input ng-model="cupper.identity.name" name="name" class="form-control floating-label" placeholder="Name" required>
                </div>
                <div ng-messages="form.name.$error" ng-if="form.name.$dirty" class="error-messages">
                  <div ng-message="required">
                    You forgot to enter a name...
                  </div>
                </div>

                <div class="form-group">
                  <input ng-model="cupper.identity.matriculationNumber"
                         name="matriculationNumber"
                         class="form-control floating-label"
                         placeholder="Matriculation Number"
                         required
                         minlength="7"
                         maxlength="7">
                </div>
                <div ng-messages="form.matriculationNumber.$error" ng-if="form.matriculationNumber.$dirty" class="error-messages">
                  <div ng-message="required">
                    You forgot to enter a matriculation number...
                  </div>
                  <div ng-message="minlength">
                    A matriculation number is at least 7 characters long...
                  </div>
                </div>


              </div>
            </div>
          </div>

          <button
            ng-disabled="form.$invalid"
            ng-click="cupper.create()" class="btn btn-primary btn-material-brown align-to-list-group-content">
            Add
          </button>

        </form>

      </div>


    </div>
  </div>
</div>
