<div class="container-fluid">
  <div class="row">

    <div class="col-md-offset-4 col-md-4">
      <h1>Cups
        <small ng-if="filterResult.length > 0">
          ({{ filterResult.length }})
        </small>
      </h1>

      <div class="well">

        <div class="form-group">
          <input ng-model="cuppersQuery"
                 class="form-control input-lg"
                 placeholder="Filter cuppers...">
        </div>

        <div class="list-group">

          <cups-cupper
            ng-repeat="cupper in dashboard.cuppers
                       | filter:cuppersQuery as filterResult"
            identity="cupper">
          </cups-cupper>

        </div>

      </div>

			<a href="#/welcome-a-new-cupper" id="lnk-to-welcome" class="btn btn-primary btn-material-brown
          btn-fab btn-raised mdi-content-add
          btn-add-cup"></a>
    </div>

  </div>
</div>
